---
last_modified_on: "2020-04-01"
$schema: "/.meta/.schemas/guides.json"
title: Complete your verification
description: How to submit and complete your verification
series_position: 2
tags: ["type: guide", "domain: profile"]
---


import SVG from 'react-inlinesvg';
import Alert from '@site/src/components/Alert';
import Steps from '@site/src/components/Steps';
import Tabs from '@theme/Tabs';
import TabItem from '@theme/TabItem';

<Alert type="info">
In order to complete the below steps, you need to be logged in. Log in to your <a href={"https://shiftm.com/"}>account</a>.
</Alert>



## Tutorial


<Steps headingDepth={3}>
<ol>
<li>



### Trust and Verification



Once you are logged in, go to your <a href={"https://www.shiftm.com/user/edit"}>profile</a>.

<SVG src="/img/profile_options.svg" />

</li>
<li>

### Document Verification

You will be presented with a list of verifications that can be completed. You are not required to complete the Facebook or Google verifications. These are only completed for extra security.

Select the Document Verification option.

<SVG src="/img/all_verifications.svg" />

</li>
<li>


### Upload Documents

You are required to upload a copy of your identification document and a copy/document stating your registration number as a healthcare professional.

To upload your documents, you can drag and drop the documents into the block or click in the block to search for your files.


<SVG src="/img/upload_docs.svg" />


You can upload as many documents as you want. Your documents are automatically saved.

</li>
<li>


### Remove Documents

If you have uploaded a document that you would like to remove, simply click the "Remove" link below the document you want to remove.


<SVG src="/img/success_upload.svg" />

Changes will automatically be saved to your profile.

</li>
</ol>


</Steps>

## Next Steps

Now that you have submitted your supporting documentation, you can sit back and relax. Joe and the team will verify your information submitted.

You will receive a email notification when your verification process has been approved or rejected. If your documents have been rejected, ensure that you have included a copy of your ID and your registration number.
